upstream spring_backend {
server 192.168.56.11:8080;
server 192.168.56.12:8080;
}

server {
listen 80 default_server;
server_name _;

location / {
proxy_pass http://spring_backend;
proxy_http_version 1.1;
proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection 'upgrade';
proxy_set_header Host $host;
proxy_cache_bypass $http_upgrade;
}
}
